/* Images */

 #Images-title{
  height: 75vh;
  width: 100%;
  background: url(./images/Osaveur1.jpeg) center/cover, linear-gradient(180deg, rgba(0,0,0,0.07895658263305327) 0%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
 }

 #Images-title > .container > .titlePointsContainer{
    width: 100%;
    height: 55vh;
    justify-content: end;
 }

 #Images-title > .container > .titlePointsContainer > h1{
    color: white;
    font-size: 5rem;
    font-weight: var(--fw2);
 }

 .titlePointsContainer > .pointsContainer{
    gap: 1vw;
 }

.titlePointsContainer > .pointsContainer .points{
    color: white;
    font-size: 2rem;
    font-weight: var(--fw3);
    align-items: center;
    justify-content: center;
    align-content: center;
}

.pointsContainer > ul{
    color: #FBBC04;
    font-size: 1.5rem;
    align-items: center;
}

/* Details */
#details{
    background-color: var(--mainColor);
    border-top: 1px solid white;
}

#details .container{
    text-align: center;
    padding: 4vh 0;
}

#details .container h3{
    color: white;
    font-size: 1.8rem;
    font-weight: var(--fw4);
}

#details .container > .Spéciality-Meals{
    gap: 6vw;
    margin-top: 4vh;
}

#details .container > .Spéciality-Meals > div{
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid white;
    padding: 4vh 0;
}

#details .container > .Spéciality-Meals > div > h4{
    color: white;
    font-size: 1.4rem;
    font-weight: var(--fw5);
    margin-bottom: 1vh;
}

#details .container > .Spéciality-Meals > div > p{
    color: white;
    font-weight: var(--fw3);
    font-size: 1.1rem;
}

/* Adress and Schedule */
#details .container > .Schedules-adresse{
    gap: 6vw;
    align-items: start;
}

#details .container > .Schedules-adresse > div{
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid white;
    padding: 3vh 0;
}

#details .container > .Schedules-adresse > div  h4{
    color: white;
    font-size: 1.4rem;
    font-weight: var(--fw5);
    margin-bottom: 1vh;
}

#details .container > .Spéciality-Meals > div > p{
    color: white;
    font-weight: var(--fw3);
    font-size: 1.1rem;
}

.mapContainer{
    width: 100%;
    height: 33vh;
    border: 8px solid white;
    background-color: white;
}

.mapContainer > iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.schedulesContainer{
    text-align: start;
    gap: 1vh;
    background-color: white;
    width: 100%;
    padding: 1vw;
}

.schedulesContainer > div{
    justify-content: space-between;
}

.schedulesContainer > div > p{
    font-size: 0.8rem;
    font-weight: var(--fw5);
}

/* Website and Phone Number */
.Website-Phone{
    gap: 6vw;
    align-items: start;
}

.Website-Phone  div{
    width: 50%;
    align-items: center;
    border-top: 1px solid white;
    padding: 4vh 0;
    gap: 2vw;
}

.Website-Phone  div a{
    color: white;
    font-weight: var(--fw3);
    font-size: 1.1rem;
}
.Website-Phone > div > p{
    color: white;
    font-weight: var(--fw3);
    font-size: 1.1rem;
}

.website i{
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-content: end;
}

.PhoneNumber i{
    color: white;
    font-size: 1rem;
    transform: rotate(30deg);
}

.adresse > .titleIcon{
    width: 98%;
    align-items: center;
    justify-content: space-between;
}

.Schedules > .titleIcon{
    width: 98%;
    align-items: center;
    justify-content: space-between;
}